*.cof
*.dep
*.err
*.ERR
*.log
*.lst
*.LST
*.map
*.mcs
*.mcw
*.mdb
*.scl
*.m4f
**/*~
**/.emacs.desktop*
**/.map
**/build/
**/default/
**/dist/
**/logs/
**/nbproject/Makefile*
**/nbproject/Package*
**/nbproject/private/
